body {
    font-size: 14px;
    color: #fff;
    margin: 0;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}


/* navbar elements */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    background-color: #222327;
}
#wrapper {
    max-width: 86em;
}
.headImage{
    width: 100%;
}
.download {
}
.downbutton:hover, .downbutton label:hover {
    cursor: pointer;
}
.downbutton {
    border-radius: 50%;
    background-color: teal;
    width: 5em;
    height: 5em;
    border-color: teal;
    text-decoration: none;
    justify-content: center;
    display: flex;
    padding: 30px;
}
/* loader animation */
@keyframes loader {
    0% {
      width: 10em;
      height: 10em;
      opacity: 1;
    }
    100% {
      width: 12em;
      height: 12em;
      opacity: 0;
    }
  }
  .loader {
    width: 10em;
    height: 10em; 
    position: relative;
  }
  .loader:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -15px;
    right: -10px;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    border: 3px solid teal;
  }
  .loader:after {
    content: '';
    position: absolute;
    top: -8px;
    left: -15px;
    right: -10px;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    border: 3px solid teal;
  }
  .loader:before {
    animation: loader 2s linear infinite 0s;
  }
  .loader:after {
    animation: loader 2s linear infinite 1s;
  }
.container {
    position: relative;
    padding: 10px 30px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 100;
}
.toggleAnchor {
    width: 30px;
    height: 30px;
    background-color: teal;
}
.aButton1{
    background-color: teal;
    border-color: teal;
    border-top-left-radius: 10px;
} 

.aButton2 {
    background-color: teal;
    border-color: teal;
}

.aButton3 {
    background-color: teal;
    border-color: teal;
    border-bottom-left-radius: 10px;
}



#hidden1, #hidden2, #hidden3 {
    width: 100;
    height: 100%;
    background-color: #0088a9;
    display: none;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.aStem1 {
    background-color: #333;
    margin-bottom: 0px;
    border-bottom: teal;
    border-bottom: 1px solid teal;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.aStem2 {
    background-color: #333;
    margin-bottom: 0px;
    border-bottom: teal;
    border-bottom: 1px solid teal;
}

.aStem3 {
    background-color: #333;
    margin-bottom: 0px;
    border-bottom: teal;
    border-bottom: 1px solid teal;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.contentStack {
    width: 100%;
    justify-content: space-between; 
    padding-right: 10px;
    height: 100%;

}
.contentSbs {
    flex-wrap: wrap;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    z-index: 150;
    display: flex;
}

.fl {
    float: left;
    display: flex;
}

.headinglabel {
    padding: 0px 20px;
    border-bottom: 3px solid teal;
    justify-content: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    height: 1.25em;
    display: flex;
}

.flip-card {
    background-color: transparent;
    width: 20em;
    height: 20em;
    perspective: 1000px;
    position: relative;
    display: flex;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    position: absolute;
    object-fit:scale-down;
}

.flip-card-back {
    background-color: teal;
    color: #fff;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 5px;
}

label {
    color: #fff;
}
.bubblecnt {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
    border-radius: 200px;
    padding: 0px;
    justify-content: center;
    margin-bottom: 5px;
}
.bubbleBox {
    max-width:49%;
}
.padTop {
    padding: 10px 0px;
}