body {
    font-size: 14px;
    color: #fff;
    margin: auto;
    padding-top: 35px;
    background: #243b47;
    flex-wrap: wrap;
    padding: 0.5em;
}
.banner-image {
    width: 100%;
}
.thumbnail {
    width: 28em;
    height: 26.5em;
    border-radius: 0 10px 10px 0;
}
.fw {
    color:#fff;
    text-decoration: none;
}
/* navbar elements */
.headImage{
    position: relative;
}
.download {
    padding: 10px;
}
.downbutton:hover, .downbutton label:hover {
    cursor: pointer;
}
.downbutton {
    border-radius: 50%;
    background-color: teal;
    width: 10em;
    height: 10em;
    border-color: teal;
    text-decoration: none;
    justify-content: center;
    display: flex;
    padding: 30px;
    margin-left: 10px;
}
/* loader animation */
@keyframes loader {
    0% {
      width: 10em;
      height: 10em;
      opacity: 1;
    }
    100% {
      width: 12em;
      height: 12em;
      opacity: 0;
    }
  }
  .loader {
    width: 10em;
    height: 10em; 
    position: relative;
    padding: 10px;
  }
  .loader:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -15px;
    right: -25px;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    border: 3px solid teal;
}
  .loader:after {
    content: '';
    position: absolute;
    top: -8px;
    left: -15px;
    right: -25px;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    border: 3px solid teal;
}
  .loader:before {
    animation: loader 2s linear infinite 0s;
  }
  .loader:after {
    animation: loader 2s linear infinite 1s;
  }
.aboutContainer {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    margin-bottom: 5px;
}
.contentStack {
    width: 100%;
    justify-content: space-between; 
    padding-right: 10px;
    height: 100%;

}
.contentSbs {
    flex-wrap: wrap;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 5px;
    z-index: 150;
    display: flex;
    flex-wrap: wrap;
}
.aboutMe {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.aboutmeBg {
    color: teal;
    padding: 10px;
    position: absolute;
    z-index: -1;
    width: 30em;
    height: 30em;
    opacity: 75%;
}
.articleclr {
    background-color: orangered;
}
.aboutCnt {
    display: flex;
}
.fl {
    float: left;
    display: flex;
}
.pill {
    background-color: aqua;
    border-radius: 20px;
    color: #000;
    width: 20%;
    float:left;
    margin-right: 10px;
    vertical-align: middle;
}
.article {
    font-size: 2em;
    margin: 5px;
    text-align: center;
    padding: 10px 10px;
}
.headinglabel {
    padding: 0px 20px;
    border-bottom: 3px solid teal;
    justify-content: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    height: 1.25em;
    display: flex;
}

.flip-card {
    background-color: transparent;
    width: 20em;
    height: 20em;
    perspective: 1000px;
    display: flex;
    margin-right: 0.5em;
    margin-bottom: 20px;
    margin: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 20em;
    height: 20em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff;
    color: #fff;
    border-radius: 10px;
    display: flex;
    position: absolute;
    object-fit:scale-down;
}

.flip-card-back {
    background-color: teal;
    color: #fff;
    width: 20em;
    transform: rotateY(180deg);
    border-radius: 10px;
    margin-bottom: 0.5em;
    padding:30px 30px 0px 30px;
}
.bumper {
    border-radius: 10px;
}
label {
    color: #fff;
}
.dashboard {
    padding: 40px 0;
}
.bubblecnt {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 10px;
    border-radius: 200px;
    padding: 0px;
    justify-content: center;
    margin-bottom: 10px;
    width: 20em;
    text-align:center;
    position: relative;
    z-index: 1000;
}
.bubbleBox {
    padding: 10px 0;
}
.padTop {
    padding: 10px 0px;
}
.footer {
    margin: auto;
    position: relative;
    background-color: teal;
    border-radius: 10px;
    display: flex;
    bottom: 0em;
    left: 0;
    width: 100%;
}
.aboutbanner-image {
    width: 100%;
}

.query {
    background-color: #fff;
    border-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: teal;
    padding: 5px;
}

.queryLeaf {
    padding: 5px;
    float: left;
    margin: 10px;
    display: flex;
}
.queryLeaf span {
    padding-right: 10px;
    vertical-align:middle;
}
.queryAllignment {
    width: 100%;
    height: 100%;
}
.queryLeaf p {
    padding-left: 40px;
    color: teal;
}