/* Classes Library acl */
/* Layout */
body {
    font-size: 14px;
    color: #fff;
    margin: auto;
    padding:0.5em;
    background-color: #100e17;
    flex-wrap: wrap;
}
section {
    margin-bottom: 0.5em;
    margin: auto;
}
.headImage{
    display: flex;
}
.content {
    display: flex;  
    padding: 5px 5px;
    flex-wrap: wrap;
}
.container {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-bottom: 5px;
}
.banner-image {
    width: 100%;
}
p {
    padding: 0.5em;
}
.statistics {
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #fff;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
.projects {
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 5px;
}

.headinglabel {
    padding: 0px 20px;
    border-bottom: 3px solid teal;
    justify-content: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
}
.thumbnail {
    width: 8em;
    height: 8em;
}
.contentSbs {
    background-color: rgb(0, 87, 87);
    border-radius: 10px;
    box-shadow: -2px 2px #b3b3b3;
    padding: 0px 20px;
    flex-wrap: wrap;
    padding: 10px 20px; 
    margin-right: 5px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
.projectCnt {
    background-color: teal;
    border-radius: 10px;
    box-shadow: -2px 2px #b3b3b3;
    padding: 0px 20px;
    flex-wrap: wrap;
    padding: 10px 20px; 
    margin-right: 5px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

#statCnt {
    font-family: OCR A Std, monospace;
}

.ringCnt {
    width: 100%;
}
#statimg{
    width: 460px;
    height: 60%;
    margin-top: 5px;
}

.ring {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%; 
    border-style: solid;
    border-color: teal;
    border-top-color: #fff;
    width: 120px;
    height: 120px; 
    float: left;
    flex-wrap: wrap;
    display: flex;
    margin-right: 5px;
    text-align: center;
    align-content: center;
}

.pPadded {
    padding: 5px;

}
.hlabel {
    font-size: 2em;
    border-bottom: 3px solid #fff;
}
.quote {
    padding: 0em 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #b3b3b3;
}
#webDev1 {
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    float: left;
}

img {
    border-radius: 10px;
}

.headDiv {
    padding-top: 10px;
    font-size: 18px;
}
.toast {
    display: flex;
}
.tribunal {
    padding: 0.5em;
    background-color: teal;
    border-radius: 0.5em;
}

.footer {
    margin: auto;
    position: relative;
    background-color: teal;
    border-radius: 10px;
    display: flex;
    bottom: 0em;
    left: 0;
    width: 100%;
}
.banner-image {
    width: 100%;
}

.query {
    background-color: #fff;
    border-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: teal;
    padding: 5px;
}

.queryLeaf {
    padding: 5px;
    float: left;
    margin: 10px;
    display: flex;
}
.queryLeaf span {
    padding-right: 10px;
    vertical-align:middle;
}
.queryAllignment {
    width: 100%;
    height: 100%;
}
.queryLeaf p {
    padding-left: 40px;
    color: teal;
}