/* Classes Library acl */
/* Layout */

body {
    font-size: 14px;
    color: #fff;
    margin: auto;
    width: 100%;
    padding-top: 35px;
    background-color: #222327;
    flex-wrap: wrap;
    position: relative;
}
.fw {
    color:#fff;
}

.content {
    display: flex;
    width: 100%;   
    padding: 5px 5px;
    flex-wrap: wrap;
}

p {
    margin: 0px;
}

.container {
    padding: 10px 30px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #fff;
    margin-bottom: 5px;
}

.headinglabel {
    padding: 0px 20px;
    border-bottom: 3px solid teal;
    justify-content: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.contentSbs {
    background-color: rgb(0, 87, 87);
    border-radius: 10px;
    box-shadow: -2px 2px #b3b3b3;
    padding: 0px 20px;
    flex-wrap: wrap;
    padding: 10px 20px; 
    margin-right: 5px;
    width: 25em;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

#statCnt {
    font-family: OCR A Std, monospace;
    position: relative;
}

.ringCnt {
    padding: 5px;
    width: 100%;
    position: relative;
}

.ring {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%; 
    border-style: solid;
    border-color: teal;
    border-top-color: #fff;
    width: 120px;
    height: 120px; 
    float: left;
    flex-wrap: wrap;
    display: flex;
    margin-right: 5px;
    text-align: center;
    align-content: center;
}

.flex {
    display: flex;
}

.pPadded {
    padding: 5px;

}
.hlabel {
    font-size: 2em;
}
p {
    padding-left: 20px;
}
.quote {
    padding: 10px 40px;
}
#webDev1 {
    border-radius: 10px;
    width: 50%; 
    padding: 5px;
    margin: 0 auto;
    float: left;
}

.fl-cont { 
    float: left;
    margin: 0px  20px;
}

img {
    border-radius: 10px;
}
.flex {
    display: flex;
}
.headDiv {
    padding-top: 10px;
    font-size: 18px;
}